body {
    color: #aa7fce;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera {
    background: rgb(147, 147, 210);
    box-shadow: 0px 2px 20px 0px rgb(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container{
    width: 70%;
    padding:1cm;
    text-align: center;
    border: 1px solid;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}
img {
    height: 250px;
    width: 250px;
}
a {
    text-decoration: none;
    color: #9424f0;
}
body a:hover{
    color: rgb(23, 120, 71);
}